.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    @apply text-7xl -my-2 leading-20 mb-4 font-bold text-orange-600;
  }

  h2 {
    @apply text-5xl m-4 leading-15 font-bold -mb-5;
    color: #0288d1;
  }

  h3 {
    @apply text-3xl font-bold text-dark-100 opacity-100;
    text-transform: none;
    letter-spacing: 0.01em;
  }

  h1 + p {
    @apply opacity-100 -mt-4 text-2xl;
  }
}

.slidev-layout.fact {
  @apply text-center grid h-full;
  h1 {
    @apply text-8xl font-700;
  }
  h1 + p {
    @apply font-700 text-2xl;
  }
}
.slidev-layout.statement {
  @apply text-center grid h-full;

  h1 {
    @apply text-6xl font-700;
  }
}
.slidev-layout.quote {
  @apply grid h-full;

  h1 + p {
    @apply mt-2;
  }
}
.slidev-layout.section {
  h1 {
    @apply text-6xl font-500 leading-20;
  }
}
