@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap");

.md-top {
    background-color: #3949AB;
    color: #FFFFFF;
}

.md-nav__item .md-nav__link--active {
    color: #0288D1;
}

.md-nav__item .md-nav__link--active:hover {
    color: #FF6E42;
}

.md-copyright {
    color: var(--md-footer-fg-color--light);
}

a {
    text-decoration: underline;
}

.md-tabs__link {
  text-decoration: none;
}

.md-nav__link {
  text-decoration: none;
}

.md-typeset a {
  color: #fff;
}

.md-source-file__notify {
  color: #fff!important;
}

.md-top {
  text-decoration: none;
}

.md-tag {
  text-decoration: none;
}

.md-copyright a {
    text-decoration: underline;
}

.md-content {
  --md-typeset-a-color: #0288D1;
}

.md-typeset p {
    font-weight: 500;
    font-size: 0.85rem;
}

.md-typeset img {
    margin-bottom: -.5em;
}

.md-typeset ul li {
    margin-bottom: 0.25em;
}

.md-typeset pre {
    font-weight: 600;
}

.md-typeset code {
    font-weight: 600;
}

.md-typeset h1 {
    margin: 0 0 px2em(40px, 32px);
    color: var(--md-default-fg-color);
    font-weight: 600;
    font-size: 2.75rem;
    line-height: 1.0;
    margin-bottom: .5em;
    letter-spacing: -0.01em;
}

.md-typeset h2 {
    color: var(--md-default-fg-color);
    font-weight: 600;
    font-size: 2rem;
    margin-top: .5em;
    margin-bottom: .25em;
    line-height: 1.0;
}

.md-typeset h3 {
    color: var(--md-default-fg-color);
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: .75em;
    margin-bottom: .75em;
    line-height: 1.0;
}

#print-site-page h1.nav-section-title,
#print-site-page h2.nav-section-title,
#print-site-page h3.nav-section-title,
#print-site-page h4.nav-section-title,
#print-site-page h5.nav-section-title,
#print-site-page h6.nav-section-title {
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    font-weight: 600;
    font-size: 2.75rem;
    line-height: 1.0;
    margin-bottom: .5em;
    letter-spacing: -0.01em;
    color: var(--md-default-fg-color);
}

.md-source-file__fact {
  align-items: center;
  color: var(--md-default-fg-color);
  display: inline-flex;
  font-size: 0.68rem;
  gap: 0.2rem;
}

.footertext {
  font-size: 0.68rem !important;
  line-height: 110%;
}

.md-source-file__notify {
  align-items: center;
  color: var(--md-default-bg-color);
  font-size: 0.68rem;
  gap: 0.3rem;
}

.spaceright {
  margin-right: .1rem;
}

.card {
  flex-flow: row wrap;
  background-color: var(--md-default-bg-color);
  color: var(--md-default-fg-color);
  padding: 1rem;
  /* height: 8rem; */
  border: 2px;
  border-style: solid;
  border-color: var(--md-default-fg-color);
  border-radius: 5px;
}

.cards {
  max-width: 900px;
  margin: 0 auto;
  margin-left: .1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.tightcard {
  margin-bottom: 0rem;
}

.md-feedback fieldset {
  float: left;
  border: none;
  margin-top: -1em;
  margin-bottom: 2em;
  padding: 0;
}

.md-feedback {
  margin: 2em 0 1em;
}

.minisculeskip {
  margin: 1rem;
}

.tinyskip {
  margin: 1.5rem;
}
